// Custom Font 

@font-face {
    font-family: 'glorifymedium';
    src: url('./../fonts/glorify_medium-webfont.woff2') format('woff2'),
         url('./../fonts/glorify_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'glorifysemibold';
    src: url('./../fonts/glorify_semibold-webfont.woff2') format('woff2'),
         url('./../fonts/glorify_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BilmondLight';
    src: url('./../fonts/bilmond-light-webfont.woff2') format('woff2'),
         url('./../fonts/bilmond-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BilmondRegular';
    src: url('./../fonts/bilmond-regular-webfont.woff2') format('woff2'),
         url('./../fonts/bilmond-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BilmondMedium';
    src: url('./../fonts/bilmond-medium-webfont.woff2') format('woff2'),
         url('./../fonts/bilmond-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BilmondSemibold';
    src: url('./../fonts/bilmond-semibold-webfont.woff2') format('woff2'),
         url('./../fonts/bilmond-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BilmondBold';
    src: url('./../fonts/bilmond-bold-webfont.woff2') format('woff2'),
         url('./../fonts/bilmond-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GuthenJaqueline';
    src: url('./../fonts/guthen_jaqueline_regular-webfont.woff2') format('woff2'),
         url('./../fonts/guthen_jaqueline_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




