// Fonts
$head-font-medium               : 'glorifymedium';
$head-font-semibold             : 'glorifysemibold';
$text-font-light                : 'BilmondLight';
$text-font-regular              : 'BilmondRegular';
$text-font-medium               : 'BilmondMedium';
$text-font-semibold             : 'BilmondSemiBold';
$text-font-bold                 : 'BilmondBold';
$script-font                    : 'GuthenJaqueline';


// Colors
:root {
    --body-bg                   : #FFFFFF; 
    --black                     : #202028;
    --white                     : #FFFFFF;
    --red                       : #FF3F69;
} 

